<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include("../partials/head") %>
    <title>Page introuvable | Oxicord</title>
    <link rel="stylesheet" href="/public/not-found/style.css">
</head>
<body>
    <div class="wrapper">
        <img src="/public/img/wumpus-404-ramen.gif">
        <div class="body-wrapper">
            <h1>Tu es perdu ?</h1>
            <p>On dirait que tu t'es égaré. Tu sais ce qui peut aider quand on est perdu ? Un bol de nouilles bien chaud. Tiens, assieds-toi, on travaille dur ici pour mijoter quelque chose de bon. Ah, tu as besoin d'un peu de lecture ? Ceci t'intéresseras peut-être :</p>
            <div class="links">
                <a href="https://github.com/oxicord">Github d'Oxicord</a>
            </div>
        </div>
    </div>
</body>
</html>