body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(var(--num-grid-columns), 1fr);
    width: 100%;
    max-width: var(--page-max-width);
    padding: var(--section-spacing) var(--page-gutter);
    gap: 0 20px;
}

.wrapper img {
    width: 300px;
    margin: 0 auto 40px;
    grid-column: span 5;
}

.wrapper .body-wrapper {
    max-width: 600px;
    grid-column: span 7;
    overflow: auto;
}

.wrapper .body-wrapper h1 {
    font-family: "ABC Ginto Nord", sans-serif;
    font-size: 28px;
    line-height: 0.95;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--brand);
}

.wrapper .body-wrapper p {
    font-size: 18px;
    line-height: 1.4;
    margin-top: 20px;
}

.wrapper .body-wrapper .links a {
    font-size: 20px;
    line-height: 35px;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

.wrapper .body-wrapper .links {
    margin-top: 20px;
}

.wrapper .body-wrapper .links a,
.wrapper .body-wrapper .links a:visited {
    color: hsl(200, 100%, 49.4%);
}

.wrapper .body-wrapper .links a:hover {
    color: hsl(212, 100%, 45.3%);
}

@media (min-width: 1024px) {
    .wrapper img {
        width: 350px;
        margin: 0;
        order: 1;
    }

    .wrapper .body-wrapper {
        margin-top: 20px;
    }

    .wrapper .body-wrapper h1 {
        font-size: 44px;
    }

    .wrapper .body-wrapper p {
        font-size: clamp(16px, 2vw, 20px);
    }
}