.hero {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #404eed;
}

.hero .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1260px;
    height: 80px;
    padding: 0 24px;
    z-index: 9999;
}

.hero .navbar .logo {
    width: 124px;
    height: 34px;
}

.hero .navbar .logo svg {
    width: 100%;
    height: 100%;
    color: var(--white);
}

.hero .navbar .app-button {
    display: flex;
    justify-content: end;
    width: 124px;
}

.hero .navbar .app-button a {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    padding: 7px 16px;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
    color: var(--not-quite-black);
    background-color: var(--white);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.hero .navbar .app-button a:hover {
    color: #5865f2;
    color: var(--brand);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.hero .body-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 20px;
    width: 100%;
    max-width: 1260px;
    padding: 56px 24px;
    z-index: 1;
}

.hero .body-wrapper .body {
    grid-column: span 4;
}

.hero .body-wrapper .body .hero-text {
    color: var(--white);
}

.hero .body-wrapper .body .hero-text h1 {
    font-family: "ABC Ginto Nord", sans-serif;
    font-size: clamp(24px, 5vw, 44px);
    line-height: 95%;
    font-weight: 800;
    text-transform: uppercase;
}

.hero .body-wrapper .body .hero-text p {
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.625;
    margin-top: 24px;
}

.hero .body-wrapper .body .hero-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 24px;
}

.hero .body-wrapper .body .hero-buttons a {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding: 16px 32px;
    border-radius: 28px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.hero .body-wrapper .body .hero-buttons a.light-btn {
    background-color: var(--white);
    color: var(--not-quite-black);
}

.hero .body-wrapper .body .hero-buttons a.dark-btn {
    background-color: var(--not-quite-black);
    color: var(--white);
}

.hero .body-wrapper .body .hero-buttons a.light-btn:hover {
    color: var(--brand);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.hero .body-wrapper .body .hero-buttons a.dark-btn:hover {
    background-color: hsl(223, 6.7%, 20.6%);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.hero .body-wrapper .body .hero-buttons a svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.hero .hero-img-container {
    pointer-events: none;
    user-select: none;
    overflow: hidden;
    z-index: 0;
}

.hero .hero-img-container .clouds {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
}

.hero .hero-img-container .foreground-left {
    display: block;
    width: 100%;
    max-width: 880px;
    position: relative;
    z-index: 1;
    margin-left: -80px;
}

.hero .hero-img-container .foreground-right {
    position: absolute;
    bottom: 0;
    display: none;
}

.reveal-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.reveal-container .section-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.reveal-container .section-wrapper:nth-child(2n) {
    background-color: var(--off-white);
}

.reveal-container .section-wrapper .section {
    display: grid;
    grid-template-columns: repeat(var(--num-grid-columns), 1fr);
    width: 100%;
    max-width: var(--page-max-width);
    padding: var(--section-spacing) var(--page-gutter);
    gap: 0 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s 0.1s, transform 0.6s ease;
}

.reveal-container .section-wrapper .section.visible {
    opacity: 1;
    transform: translateY(0);
}

.reveal-container .section-wrapper .section img {
    grid-column: span var(--num-grid-columns);
    width: 100%;
    margin-top: 24px;
    object-fit: cover;
}

.reveal-container .section-wrapper .section.image-left img,
.reveal-container .section-wrapper .section.image-right img {
    max-width: 678px;
    max-height: 440px;
}

.reveal-container .section-wrapper .section .description {
    color: var(--not-quite-black);
    grid-column: span var(--num-grid-columns);
}

.reveal-container .section-wrapper .section.image-left .description,
.reveal-container .section-wrapper .section.image-right .description {
    margin-top: 20px;
}

.reveal-container .section-wrapper .section .description h2 {
    font-size: clamp(20px, 4vw, 40px);
    line-height: 1.2;
    font-weight: 800;
}

.reveal-container .section-wrapper .section.image-bottom .description h2 {
    font-family: "ABC Ginto Nord", sans-serif;
    font-size: clamp(20px, 4vw, 40px);
    line-height: 0.95;
    text-transform: uppercase;
}

.reveal-container .section-wrapper .section .description p {
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.625;
    margin-top: 24px;
}

@media (min-width: 768px) {
    .hero .navbar {
        padding: 0 40px;
    }

    .hero .body-wrapper {
        grid-template-columns: repeat(8, 1fr);
        padding: 120px 40px;
    }

    .hero .body-wrapper .body {
        grid-column: span 5;
    }

    .hero .body-wrapper .body .hero-text h1 {
        font-size: 56px;
    }

    .hero .body-wrapper .body .hero-text p {
        margin-top: 40px;
    }

    .hero .body-wrapper .body .hero-buttons {
        margin-top: 32px;
    }

    .hero .hero-img-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .hero .hero-img-container .clouds {
        display: block;
        top: auto;
        bottom: 0;
        margin-left: -1320px;
    }

    .hero .hero-img-container .foreground-left {
        display: none;
    }

    .hero .hero-img-container .foreground-right {
        display: block;
        bottom: 0;
        left: 50%;
        margin-left: -70px;
    }

    .reveal-container .section-wrapper .section.image-left img {
        grid-column: span 4;
        margin-top: auto;
        margin-bottom: auto;
    }

    .reveal-container .section-wrapper .section.image-right img {
        grid-column: span 4;
        order: 2;
        margin-top: auto;
        margin-bottom: auto;
    }

    .reveal-container .section-wrapper .section.image-left .description,
    .reveal-container .section-wrapper .section.image-right .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .reveal-container .section-wrapper .section.image-right .description {
        margin-top: 0;
        grid-column: span 4;
        order: 1;
    }

    .reveal-container .section-wrapper .section.image-bottom .description {
        text-align: center;
    }

    .reveal-container .section-wrapper .section .description h2 {
        font-size: 48px;
    }
}

@media (min-width: 1024px) {
    .hero .body-wrapper .body {
        grid-column: 3 / span 8;
    }

    .hero .body-wrapper .body .hero-text {
        text-align: center;
    }

    .hero .body-wrapper {
        grid-template-columns: repeat(12, 1fr);
    }

    .hero .body-wrapper .body .hero-buttons {
        justify-content: center;
    }

    .hero .hero-img-container .clouds {
        margin-left: -1280px;
    }

    .hero .hero-img-container .foreground-left {
        position: absolute;
        display: block;
        bottom: 0;
        left: 50%;
        width: auto;
        height: auto;
        margin-left: -1030px;
    }

    .hero .hero-img-container .foreground-right {
        display: block;
        bottom: 0;
        left: 50%;
        margin-left: 370px;
    }

    .reveal-container .section-wrapper .section.image-left .description {
        grid-column: 9 /span 4;
        order: 2;
    }

    .reveal-container .section-wrapper .section.image-right .description {
        grid-column: 1 / span 4;
    }

    .reveal-container .section-wrapper .section.image-bottom .description {
        grid-column: 2 / span 10;
    }

    .reveal-container .section-wrapper .section.image-left img {
        grid-column: span 7;
        order: 1;
    }

    .reveal-container .section-wrapper .section.image-right img {
        grid-column: 6 / span 7;
    }

    .reveal-container .section-wrapper .section.image-right .description h2 {
        font-size: 48px;
    }
}